.camlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.camlist-item {
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.camlist-item img {
    max-width: 100%;
    height: auto;
}

h3 {
    margin: 10px 0 5px;
}

p {
    color: #666;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 1008;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 48px;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

#live-video {
    max-width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#camera-map {
    width: 100%;
    height: 840px;
}

.route-label {
    font-size: 10px;
    font-weight: 500;
}

.leaflet-tooltip.no-background {
    background: transparent !important;
    border: none !important;
    color: #000;
    box-shadow: none !important;
}

.transport-marker {
    width: 24px;
    height: 24px;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top: 2px;
    left: 2px;
}

.arrow {
    width: 0;
    height: 0;
    position: absolute;
    display: none !important;
    visibility: none !important;
}
